<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>About</title>
<link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css"> <!--trying but its not changing -->
<p id="linkButton"> &#8617 <a href="game.html">Return to game</a></p>
<h1 id="linkAbout">About</h1>
</head>

<body id="aboutPage">
    <p>
        This game is inspired by the New York Times game, Wordle.
    </p>
    </p>
        Additional features (multi-player mode) are added for a more exciting game.
    </p>
    
    <div class="bottomleft">
        <h4>Developer information</h4>
        <p>
          Developed by: Lutfiya Charfaray, Zakhna Dhiraj, Jessica Kow, Faatimah Mahomed and Kavisha Reddy.<br>
          <font size="-1">This game forms part of the requirements for the University of the Witwatersrand Software Development III.</font>
        </p>
    </div>
</body>
</html>

