<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>MULTI-WORDLE</title>
      
        <section id="linkButton">
            <td style="text-align:left;vertical-align:top;padding:0">&#8505 <a href="./about">About</a></td>
        </section>

        <section id="linkButton">
            <td style="text-align:right;vertical-align:top;padding:0">&#8505 <a href="./instructions">View Instructions</a></td>
        </section>

      <link rel="stylesheet" href="/public/stylesheets/style.css">
      <!-- Bootstrap -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

   </head>
   
<body class="text-bg-dark p-3 text-center text-white">   
   <!-- JavaScript Bundle with Popper (Bootstrap) -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

   <h1>
        <font color = "#0000FF">M</font>
        <font color = "#FF69B4">U</font>
        <font color = "#707070">L</font>
        <font color = "#0000FF">T</font>
        <font color = "#FF69B4">I</font>
        <font color = "#FFFFFF">- Wordle</font>
   </h1> 
   <hr>
   <p>
      Enter a five letter word and we will tell you if you have guessed it correctly!
   </p>

   
  <div id="wordle-board">
    <script src="/public/scripts/main.js" type="module"></script>
  </div>
    <br>
         
  <div id="keyboard">
        <div class="first-row">
            <button class="keyboard-button">q</button>
            <button class="keyboard-button">w</button>
            <button class="keyboard-button">e</button>
            <button class="keyboard-button">r</button>
            <button class="keyboard-button">t</button>
            <button class="keyboard-button">y</button>
            <button class="keyboard-button">u</button>
            <button class="keyboard-button">i</button>
            <button class="keyboard-button">o</button>
            <button class="keyboard-button">p</button>
        </div>
        <div class="second-row">
            <button class="keyboard-button">a</button>
            <button class="keyboard-button">s</button>
            <button class="keyboard-button">d</button>
            <button class="keyboard-button">f</button>
            <button class="keyboard-button">g</button>
            <button class="keyboard-button">h</button>
            <button class="keyboard-button">j</button>
            <button class="keyboard-button">k</button>
            <button class="keyboard-button">l</button>
        </div>
        <div class="third-row">
            <button class="keyboard-button">Del</button>
            <button class="keyboard-button">z</button>
            <button class="keyboard-button">x</button>
            <button class="keyboard-button">c</button>
            <button class="keyboard-button">v</button>
            <button class="keyboard-button">b</button>
            <button class="keyboard-button">n</button>
            <button class="keyboard-button">m</button>
            <button class="keyboard-button">Enter</button>
        </div>
    </div>

</body>
</html>