<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>MULTI-WORDLE</title>
<link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css"> <!--trying but its not changing -->

</head>
<body bgcolor="#000000">
<!--The background is set to be black while all font except for the word "MULTI" must be in white-->
    <center>
        <h1>
            <font color = "#00FF00">M</font>
            <font color = "#FFFF00">U</font>
            <font color = "#707070">L</font>
            <font color = "#00FF00">T</font>
            <font color = "#FFFF00">I</font>
            <font color = "#FFFFFF">- Wordle</font>
        </h1>
        <hr>
        <p>
         <font color = "#FFFFFF">Enter a five letter word and we will tell you if you have guessed it correctly!</font>
        </p>
   </center>
</body>
</html>
