<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>MULTI-WORDLE</title>
<link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css"> 
<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<p id="linkButton"> &#8617 <a href="./game">Return to game</a></p>
</head>
<body class="text-bg-dark p-3 text-center text-white">
   <h1 class="heading2">
      Multi-Wordle Instructions 
   </h1>
      <hr>
      <div class="left">
         <p>
            <p>
               <!--The instructions will be edited as the game functionality is improved-->
               Guess a five letter word in six attempts.
               <br>
               Submit only valid words by pressing ENTER.
               <br>
               To delete a letter press DELETE. 
               <br>
               When the letter is in the chosen word and in the correct position, it will turn Green.
               <br>
               When the letter is in the chosen word but not in the correct position, it will turn yellow.
               <br>
               Letters that are no in the chosen word will turn grey.
            </p>
     </div>
</body>
</html>
