<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Options Page </title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
    </head>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body class="text-bg-dark p-3 text-center text-white">
    <!-- JavaScript Bundle with Popper (Bootstrap) -->
    <script
       src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
       integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
       crossorigin="anonymous"
    ></script>
    
    <h1>
       <font color="#00FF00">M</font>
       <font color="#FFFF00">U</font>
       <font color="#707070">L</font>
       <font color="#00FF00">T</font>
       <font color="#FFFF00">I</font>
       <font color="#FFFFFF">- Wordle</font>
    </h1>

    <section id="linkButton">
       <td style="text-align: right; vertical-align: top; padding: 0">
          <a href="./game">Single player</a>
       </td>
    </section>

    <section id="linkButton">
        <td style="text-align: right; vertical-align: top; padding: 0">
           <a href="./multiplayer">Multiplayer</a>
        </td>
     </section>


 </body>

</html>

