/* put style sheet things in here */
.heading2 {
   color: rgb(226, 43, 171);
}

/* for the game board */
#wordle-board {
   display: flex;
   align-items: center;
   flex-direction: column;
}

/* for the game board */

.row-part1 {
   display: flex;
}

.column-piece1{
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
   border: 2px solid rgb(156, 155, 155);
   margin: 3px;
   height: 3rem;
   width: 3rem;
   font-size: 1.5rem;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 600;
   color: whitesmoke;
}

.row-part2 {
   display: flex;
}

.row-part3 {
   display: flex;
}

.column-piece2{
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
   border: 2px solid rgb(156, 155, 155);
   margin: 3px;
   height: 2rem;
   width: 2rem;
   font-size: 1.5rem;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 600;
   color: whitesmoke;
}

.column-piece3{
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
   border: 2px solid rgb(156, 155, 155);
   margin: 3px;
   height: 2rem;
   width: 2rem;
   font-size: 1.5rem;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 600;
   color: whitesmoke;
}

/* styling for the instructions link */
a:visited {
   color: rgb(11, 4, 9);
   background-color: transparent;
   text-decoration: none;
}
a:hover {
   color: rgb(255, 238, 0);
   background-color: transparent;
   text-decoration: underline;
}
a:active {
   color: rgb(30, 232, 247);
   background-color: transparent;
   text-decoration: underline;
}

.row-part {
   display: flex;
}

.column-piece {
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
   border: 2px solid rgb(156, 155, 155);
   margin: 3px;
   height: 3rem;
   width: 3rem;
   font-size: 1.5rem;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 600;
   color: whitesmoke;
}

#keyboard {
   margin: 1rem 0;
   display: flex;
   flex-direction: column;
   position: relative;
   align-items: center;
}

#keyboard div {
   display: flex;
}

.second-row {
   margin: 0.5rem 0;
}

.keyboard-button {
   font-size: 1.5rem;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 600;
   padding: 0.5rem;
   margin: 0 2px;
   text-transform: uppercase;
   color: black;
   background-color: rgb(200, 200, 200);
   border-color: white;
}

/*for login button*/
button{
   background-color: palevioletred;
   color: black;
   border:rgb(11, 4, 9);
   padding: 10px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
}

#linkButton {
   background-color: palevioletred; 
   color: black;
   padding: 14px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
}

#linkAbout {
   color: white;
}

#aboutPage {
   background: black;
   color: white;
}

.container {
   position: relative;
}

.bottomleft {
   position: absolute;
   bottom: 8px;
   left: 16px;
   font-size: 18px;
}


.float-child {
   position: relative;
   width: 330px;
   left: 190px;
   /* top: 200px; */
   padding: 2%;
   border: 2px solid rgba(251, 251, 251, 0.646);
   
}  

.box {
   width: 700px;
   float: left;
   position: relative;
   /* bottom: -150px; */
   padding: 20px;
   border: 2px solid rgba(251, 251, 251, 0.646);
   
}  

.right {
   position: absolute;
   color: coral;
   left: 820px;
   top: 250px;
   width: 230px;
   border: 2px solid coral;
   padding: 20px;
 }

 .right1 {
   color: mediumvioletred;
   position: absolute;
   left: 1070px;
   top: 250px;
   width: 230px;
   border: 2px solid mediumvioletred;
   padding: 20px;

 }

 .connected {
    font-weight: normal;
 }
 .connected span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: red;
 }
 span.green {
   background: green;
 }

