/* put style sheet things in here */
h1{
    color: rgb(226, 43, 171);
}

#keyboard {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#keyboard div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.keyboard-button {
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  padding: 0.5rem;
  margin: 0 2px;
  text-transform: uppercase;
  color: black;
  background-color: rgb(200, 200, 200);
  border-color: white;
}