<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>MULTI-WORDLE</title>
<link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css"> <!--trying but its not changing -->

</head>
<body bgcolor="#000000">
    <font color = "#FFFFFF">
    <center>
        <h1>
           Multi-Wordle Instructions 
        </h1>
        <hr>
        <p>
        <!--The instructions will be edited as the game functionality is improved-->
           Guess a five letter word in six attempts.
         <br>
           Submit only valid words by pressing ENTER.
         <br>
        </p>
   </center>
   </font>
</body>
</html>
